/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.flex {
	display: flex;
}


nav {
	width: 100%;
	position: fixed;
	align-items: center;
	flex-flow: row nowrap;
	align-content: center;
	justify-content: space-around;
	margin-top: 0px;
	top: 0px;
	background-color: lightskyblue;
}

nav a {
	padding: 10px;
	margin: 15px;
	color: black;
	text-decoration: none;
}

main {
	margin: 30px 10%;
	width: 85%;
	height: auto;
}

footer {
	width: 100%;
}

footer p {
	margin: 0 auto;
	width: 200px;
}



/*Specific to Homepage*/
.top-section {
	width: 100%;
	margin: 20px;
	padding-top: 50px;
	justify-content: space-between;
}

.top-section-text {
	height: 300px;
	width: 400px;
	flex-flow: row wrap;
}

h1 {
	font-size: 80px;
	text-align: center;
	vertical-align: center;
	padding: 10px;
}

.btn {
	border: 1px solid black;
	text-align: center;
	display: inline-block;
	padding: 5px 20px;
	margin: 10px 100px;
	background-color: white;
	border-radius: 10px;
	height: 40px;
	width: 100px;
}

.round-image {
	padding: 25px 30px;
	margin: 50px 25px 25px 100px;
	width: 300px;
	height: 300px;
}

.page-divider {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	width: 100%;
	height: auto;
	margin: 10% 5%;
	padding: 30px;
	text-align: left;
}
.row-1 {
	flex-flow: row nowrap;
	justify-content: space-around;
	width: 100%;
}

.features, .about {
	width: 40%;
	flex-direction: column;
	margin: 5%;
}

.about {
	margin-left: 60px;
}

.middle-img {
	width: 100%;
	height: auto;
	padding: 10px;
	margin: 10px;
}

.services, .product, .vision {
	width: 30%;
	margin: 10px;
	flex-flow: column wrap;
}

.contact {
	margin: 30px;
	padding: 20px;
}

/*Specific to Services*/

.services-header-img {
	margin-top: 5%;
	width: 100%;
}

.services-desc {
	flex-flow: column wrap;
	padding: 5%;
	margin: 5%;
}

.services-desc h2 {
	font-size: 32px;
}

.tile {
	background-color: lightgray;
	border: 1px solid black;
	width: 40%;
	height: auto;
	padding: 5%;
	margin: 5%;
	flex-flow: column wrap;
}

.services-page-divider {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	width: 100%;
	height: auto;
	margin: 10% 0px;
	padding: 30px;
	text-align: left;
	flex-flow: row wrap;
	justify-content: left;
}

.first-row, .second-row, .third-row {
	flex-flow: row wrap;
	align-content: space-around;
}

.digi-design, .digi-marketing, .iosdev {
	align-self: left;
}

.ux, .webdev, .android {
	align-self: right;
}


.services-btn {
	border: 1px solid black;
	text-align: center;
	align-items: center;
	justify-content: center;
	padding: 5% 10%;
	margin: 10%;
	background-color: white;
	border-radius: 5px;
	height: 30px;
	width: 100%;
	flex-wrap: nowrap;
}

.facts { 
	flex-direction: row;
}

.facts-txt {
	width: 40%;
	padding: 5%;
	display: inline-block;
	text-align: left;
}

ul {
	list-style-type: square;
	padding: 10%;
}

.facts-img {
	width: 40%;
	height: auto;
	float: left;
}
